.img {
    max-height: 150px;
    max-width: 150px;
    width: 50%;
    height: 50%;
    border: thick solid;
    text-align: center;
}

.divSpace {
    min-height: 50px;
    height: 100%;
    max-height: 75px;
}

.p {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

.btnPrimary {
    text-align: center;
    font-size: 32px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 75px;
}

.btnSymb {
    height: 100%;
    min-height: 150px;
    min-width: 100px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    font-size: 50px;
    border: none;
}

#playerSelection {
    overflow: hidden;
}

#roundsId {
    font-size: 30px;
}

#tbGameBoard {
    margin-top: 2%;
    border-radius: 1.5rem;
    border-spacing: 5px;
    background-color: #43464b;
    text-align: center;
    color: white;
    min-width: 25%;
    min-height: 25%;
}

#logoImg {
    float: left;
    max-height: 75px;
    max-width: 65px;
    width: 100%;
    height: 100%;
}